@using KmipCards.Shared;

<EditForm Model="@_card" OnValidSubmit="@HandleValidSubmit">
	<InputText class="form-control" @bind-Value="_card.Chinese"></InputText>
	<InputText @bind-Value="_card.Pinyin"></InputText>
	<InputText @bind-Value="_card.English"></InputText>
	<button type="submit">Submit</button>
</EditForm>


@code {
	//[Parameter] public CardDataDto CardData {get;set;}
	private CardDataDto _card = new CardDataDto();

	protected override void OnInitialized()
	{
		base.OnInitialized();
	}

	[Parameter] public CardDataDto CardDataDto { get; set; }

	protected override void OnParametersSet()
	{
		_card = CardDataDto;
	}


	private void HandleValidSubmit()
	{
        Console.WriteLine("submitted!");
    }
}
