@using KmipCards.Shared;
@using KmipCards.Client.Interfaces;
@inject ICardRepository CardRepository;


<table class="table">
	<thead>
		<tr>
		  <th scope="col">Character</th>
	      <th scope="col">Pinyin</th>
		  <th scope="col">English</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var card in CardRepository.GetAllCards())
		{
			<tr>
				<td>@card.CardDataDto.Chinese</td>
				<td>@card.CardDataDto.Pinyin</td>
				<td>@card.CardDataDto.English</td>
			</tr>
		}
	</tbody>


</table>




@code {
	protected override void OnInitialized()
	{
		CardRepository.RepositoryChanged += (sender,args) => StateHasChanged();
		base.OnInitialized();

	}

}
